.form-item-full-width {
    width: 100%;
}

.form-input-large {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.form-input-large::placeholder {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

/* For webkit browsers like Chrome/Safari */
.form-input-large::-webkit-input-placeholder {
    font-size: 20px;
    width: 100%;

    font-weight: 500;
}

/* For Firefox */
.form-input-large::-moz-placeholder {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.form-input-large .ant-select-selection-placeholder {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}
.form-input-large .ant-select-selection-item {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}
.form-input-large .ant-select-dropdown {
    font-size: 20px;
    width: 100%;
    width: 100%;
}

.form-input-large .ant-select-item {
    font-size: 20px;
    padding: 8px 12px; /* Optional: adjust padding for better spacing */
    width: 100%;
}

.form-input-large .ant-select-item-option-content {
    font-size: 20px;
    width: 100%;
}
.form-input-large .ant-select-selector {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-input-large .ant-select-dropdown .ant-select-item-option-content {
    font-size: 20px;
    width: 100%;
}
.form-input-large .ant-picker-input {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}
