.about-page {
    padding: 0 16px;
    align-self: center;
    position: relative;
    height: calc(100vh - 56px);
    overflow-y: auto;
    color: #000;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 1) 16px
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 1) 16px
    );

    .about-page-card {
        width: 90%;
        margin: 16px auto;

        .about-page-title {
            margin-top: 0;
            margin-bottom: 16px;
        }
        .info-box {
            background-color: #34c7591a;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #34c759;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .paybox-btn {
            margin-top: 6px;
            .injected-svg {
                padding-left: 4px;
                padding-top: 4px;
                width: 13px;
                height: 13px;
            }
        }

        .text-box {
            margin-top: 10px;
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #000000;
            word-wrap: break-word; /* Allows long words to break */
            overflow-wrap: break-word; /* Modern version of word-wrap */
            word-break: break-word; /* Breaks words at appropriate points */
            max-width: 100%;
        }

        .hr {
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: none;
            border-bottom: 1px solid #888;
        }

        .section-title {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #000000;
        }

        .section-sub-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #000000;
        }

        .list-item {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #000000;
            display: block;
        }
    }
}
