.bio-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    &.desktop {
        width: 300px;
    }
    &.mobile {
        width: 90%;
    }
    /* justify-content: center; */
    .button-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        justify-content: space-around;
        margin-top: 0.5rem;

        .general-action-btn {
            display: block;
        }
    }

    .bio-page-card {
        margin-top: 1rem;
        background-color: #fff;
        padding: 1rem;
        width: 90%;
        max-width: 300px;
        border-radius: 10px;
    }
}
