.calendar-view {
    margin: 0 auto;
    margin-top: 1rem;

    .calendar-controller {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .back {
            transform: rotate(180deg);
            margin-bottom: 4px;
            cursor: pointer;

            &.disabled {
                color: #d2bcbc;
            }
        }

        .next {
            margin-top: 4px;
            cursor: pointer;

            &.disabled {
                color: #d2bcbc;
            }
        }

        .label {
            font-size: 16px;
            font-weight: 600;
            width: 90px;
            text-align: center;
            margin-bottom: 2px;
        }
    }

    .calendar-view__card {
        margin-top: 1rem;

        .ant-card-body {
            padding: 16px 16px 8px 16px;
        }

        .ant-picker-calendar {
            .ant-picker-cell {
                padding: 0;
            }

            .ant-picker-panel {
                border-top: none;
            }
        }

        .calendar-view__day-cell {
            padding: 0.5rem;
            position: relative;
            text-align: center;

            &.selected {
                background-color: orange;
                color: white;
            }

            &.disabled {
                color: lightgray;
            }

            .event-dots {
                display: flex;
                justify-content: center;
                margin-top: 0.25rem;

                .event-dot {
                    width: 5px;
                    height: 5px;
                    background-color: red;
                    border-radius: 50%;
                    margin: 0 1px;
                }
            }
        }

        .ant-picker-cell-selected {
            .calendar-view__day-cell {
                background-color: #bc3528;
                color: #fff;

                .event-dots {
                    .event-dot {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
