.event-segments-form {
    .sub-event-card {
        margin-top: 1rem;
        border-width: 2px;
    }

    .full-width {
        width: 100%;
    }

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-button-container,
    .remove-button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .add-button-container {
        margin-top: 1rem;
    }

    .add-button,
    .remove-button {
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        padding-top: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }

    .add-button-label,
    .remove-button-label {
        margin-bottom: 6px;
    }
}
