.install-pwa-banner {
    .install-pwa-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #af52de;
        direction: rtl;

        .install-pwa-btn {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #af52de;
            align-self: center;
            font-family: Assistant;
            font-size: 20px;
            font-weight: 400;
            line-height: 20.93px;
            text-align: right;
            color: white;
            height: 2.5rem;
            padding: 0;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            margin: 0;

            &:hover {
                background-color: #af52de;
                color: fff;
            }
            &:active {
                background-color: #af52de;
                color: fff;
            }

            .install-pwa-btn-text {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        .add-alert-icon {
            margin-left: 10px;
            margin-top: 7px;

            .injected-svg {
                color: #fff;
            }
        }
    }
}
.install-pwa-modal {
    direction: rtl;
}
.install-pwa-modal-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;

    .install-pwa-modal-title {
        margin: 0;
    }
    .install-pwa-modal-li {
        display: flex;
        justify-content: left;
        flex-direction: row;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        display: block;

        .install-share-icon-wrapper {
            background-color: #fbf9f9;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            padding: 0;
            margin: 3px;

            .ios-share-icon {
                display: inline-flex;
                margin-right: 5px;
                .injected-svg {
                    width: 14px;
                    height: 14px;
                    margin-left: 5px;
                }
            }
        }

        .install-pwa-action-text {
            background-color: #fbf9f9;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            padding: 0 2px;
            margin: 3px;
        }
        .add-to-home-screen-icon {
            display: inline-flex;
            margin-right: 5px;
            .injected-svg {
                width: 14px;
                height: 14px;
                margin-left: 5px;
            }
        }
    }
    .section-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: block;

        .article-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;

            .article-icon {
                margin-left: 10px;
                .injected-svg {
                    width: 40px;
                    height: 40px;
                    color: #af52de;
                }
            }

            .article-item-highlight {
                color: #af52de;
                font-weight: 600;
            }
        }
        .install-pwa-modal-p {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #000000;
            margin-top: 10px;
        }
    }
    .install-pwa-modal-br {
        border-bottom: 1px solid #af52de;
        height: 10px;
        display: block;
        margin: 10px 0;
        width: 100%;
    }
}
