.loading-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .loader-wrapper-1 {
        .loader {
            height: 150px;
            width: 100px;
            border-radius: 55px 55px 10px 10px;
            position: relative;
            background: #ff3d00;

            background-image: linear-gradient(
                0deg,
                #f63a99 25%,
                #30dcf6 25%,
                #30dcf6 25%,
                #30dcf6 50%,
                #f2d200 50%,
                #f2d200 50%,
                #f2d200 75%,
                #70ca5c 75%
            );
            background-position: 0px 0px;
            background-size: auto 175px;
            background-repeat: repeat-y;
            animation: colorShift 6s linear infinite;
        }
        .loader:before {
            content: "";
            position: absolute;
            left: 10px;
            bottom: 15px;
            width: 15px;
            height: 100px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.5);
        }

        .loader:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);
            box-shadow: 0 15px 2px rgba(0, 0, 0, 0.25) inset;
            width: 32px;
            height: 45px;
            background: #e09c5f;
            border-radius: 0 0 12px 12px;
        }

        @keyframes colorShift {
            to {
                background-position: 0 175px;
            }
        }
    }

    .loader-wrapper-1 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            height: 150px;
            width: 100px;
            border-radius: 55px 55px 10px 10px;
            position: relative;
            background: #ff3d00;

            background-image: linear-gradient(
                0deg,
                #f63a99 25%,
                #30dcf6 25%,
                #30dcf6 25%,
                #30dcf6 50%,
                #f2d200 50%,
                #f2d200 50%,
                #f2d200 75%,
                #70ca5c 75%
            );
            background-position: 0px 0px;
            background-size: auto 175px;
            background-repeat: repeat-y;
            animation: colorShift 6s linear infinite;
        }
        .loader:before {
            content: "";
            position: absolute;
            left: 10px;
            bottom: 15px;
            width: 15px;
            height: 100px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.5);
        }

        .loader:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);
            box-shadow: 0 15px 2px rgba(0, 0, 0, 0.25) inset;
            width: 32px;
            height: 45px;
            background: #e09c5f;
            border-radius: 0 0 12px 12px;
        }
        @keyframes colorShift {
            to {
                background-position: 0 175px;
            }
        }
    }
    .loader-wrapper-2 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            width: 160px;
            height: 185px;
            position: relative;
            background: #fff;
            border-radius: 100px 100px 0 0;
        }
        .loader:after {
            content: "";
            position: absolute;
            width: 100px;
            height: 125px;
            left: 50%;
            top: 25px;
            transform: translateX(-50%);
            background-image: radial-gradient(circle, #000 48%, transparent 55%),
                radial-gradient(circle, #000 48%, transparent 55%),
                radial-gradient(circle, #fff 30%, transparent 45%),
                radial-gradient(circle, #000 48%, transparent 51%),
                linear-gradient(#000 20px, transparent 0),
                linear-gradient(#cfecf9 60px, transparent 0),
                radial-gradient(circle, #cfecf9 50%, transparent 51%),
                radial-gradient(circle, #cfecf9 50%, transparent 51%);
            background-repeat: no-repeat;
            background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px,
                12px 3px, 50px 25px, 70px 70px, 70px 70px;
            background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px,
                50% 85px, 50% 50px, 50% 22px, 50% 45px;
            animation: faceLift 3s linear infinite alternate;
        }
        .loader:before {
            content: "";
            position: absolute;
            width: 140%;
            height: 125px;
            left: -20%;
            top: 0;
            background-image: radial-gradient(circle, #fff 48%, transparent 50%),
                radial-gradient(circle, #fff 48%, transparent 50%);
            background-repeat: no-repeat;
            background-size: 65px 65px;
            background-position: 0px 12px, 145px 12px;
            animation: earLift 3s linear infinite alternate;
        }

        @keyframes faceLift {
            0% {
                transform: translateX(-60%);
            }
            100% {
                transform: translateX(-30%);
            }
        }
        @keyframes earLift {
            0% {
                transform: translateX(10px);
            }
            100% {
                transform: translateX(0px);
            }
        }
    }

    .loader-wrapper-3 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            width: 120px;
            height: 80px;
            position: relative;
            transform: rotate(-90deg);
            background: linear-gradient(174deg, #0000 49%, #000 50%, #0000 51%);
        }
        .loader:after,
        .loader:before {
            content: "";
            border-radius: 100%;
            width: 35px;
            height: 35px;
            display: block;
            position: absolute;
            border: 4px dashed #fff;
            bottom: 49px;
            transform: rotate(0deg);
            box-sizing: border-box;
            animation: tape 4s linear infinite;
        }
        .loader:before {
            right: -14px;
            box-shadow: 0 0 0 4px #fff, 0 0 0 34px #000, 0 0 5px 34px #0005;
        }
        .loader:after {
            left: -13px;
            box-shadow: 0 0 0 4px #fff, 0 0 0 65px #000, 0 0 5px 65px #0005;
        }

        @keyframes tape {
            0% {
                transform: rotate(0deg) scale(0.4);
            }
            100% {
                transform: rotate(-360deg) scale(0.4);
            }
        }
    }

    .loader-wrapper-4 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            width: 175px;
            height: 80px;
            display: block;
            margin: auto;
            background-image: radial-gradient(
                    circle 25px at 25px 25px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 50px at 50px 50px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 25px at 25px 25px,
                    #fff 100%,
                    transparent 0
                ),
                linear-gradient(#fff 50px, transparent 0);
            background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
            background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
            background-repeat: no-repeat;
            position: relative;
            box-sizing: border-box;
        }
        .loader::before {
            content: "";
            left: 60px;
            bottom: 18px;
            position: absolute;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #ff3d00;
            background-image: radial-gradient(
                    circle 8px at 18px 18px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 18px 0px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 0px 18px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 36px 18px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 18px 36px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 30px 5px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 30px 5px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 30px 30px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 4px at 5px 30px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(circle 4px at 5px 5px, #fff 100%, transparent 0);
            background-repeat: no-repeat;
            box-sizing: border-box;
            animation: rotationBack 3s linear infinite;
        }
        .loader::after {
            content: "";
            left: 94px;
            bottom: 15px;
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #ff3d00;
            background-image: radial-gradient(
                    circle 5px at 12px 12px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 12px 0px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 0px 12px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 24px 12px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 12px 24px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 20px 3px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 20px 3px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 20px 20px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 3px 20px,
                    #fff 100%,
                    transparent 0
                ),
                radial-gradient(
                    circle 2.5px at 3px 3px,
                    #fff 100%,
                    transparent 0
                );
            background-repeat: no-repeat;
            box-sizing: border-box;
            animation: rotationBack 4s linear infinite reverse;
        }

        @keyframes rotationBack {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(-360deg);
            }
        }
    }

    .loader-wrapper-5 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            width: 24px;
            height: 80px;
            display: block;
            margin: 35px auto 0;
            border: 1px solid #fff;
            border-radius: 0 0 50px 50px;
            position: relative;
            box-shadow: 0px 0px #ff3d00 inset;
            background-image: linear-gradient(#ff3d00 100px, transparent 0);
            background-position: 0px 0px;
            background-size: 22px 80px;
            background-repeat: no-repeat;
            box-sizing: border-box;
            animation: animloader 6s linear infinite;
        }
        .loader::after {
            content: "";
            box-sizing: border-box;
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            border: 1px solid #fff;
            border-radius: 50%;
            width: 28px;
            height: 6px;
        }
        .loader::before {
            content: "";
            box-sizing: border-box;
            left: 0;
            bottom: -4px;
            border-radius: 50%;
            position: absolute;
            width: 6px;
            height: 6px;
            animation: animloader1 1s linear infinite;
        }

        @keyframes animloader {
            0% {
                background-position: 0px 80px;
            }
            100% {
                background-position: 0px 0px;
            }
        }

        @keyframes animloader1 {
            0% {
                box-shadow: 4px -10px rgba(255, 255, 255, 0),
                    6px 0px rgba(255, 255, 255, 0),
                    8px -15px rgba(255, 255, 255, 0),
                    12px 0px rgba(255, 255, 255, 0);
            }
            20% {
                box-shadow: 4px -20px rgba(255, 255, 255, 0),
                    8px -10px rgba(255, 255, 255, 0),
                    10px -30px rgba(255, 255, 255, 0.5),
                    15px -5px rgba(255, 255, 255, 0);
            }
            40% {
                box-shadow: 2px -40px rgba(255, 255, 255, 0.5),
                    8px -30px rgba(255, 255, 255, 0.4),
                    8px -60px rgba(255, 255, 255, 0.5),
                    12px -15px rgba(255, 255, 255, 0.5);
            }
            60% {
                box-shadow: 4px -60px rgba(255, 255, 255, 0.5),
                    6px -50px rgba(255, 255, 255, 0.4),
                    10px -90px rgba(255, 255, 255, 0.5),
                    15px -25px rgba(255, 255, 255, 0.5);
            }
            80% {
                box-shadow: 2px -80px rgba(255, 255, 255, 0.5),
                    4px -70px rgba(255, 255, 255, 0.4),
                    8px -120px rgba(255, 255, 255, 0),
                    12px -35px rgba(255, 255, 255, 0.5);
            }
            100% {
                box-shadow: 4px -100px rgba(255, 255, 255, 0),
                    8px -90px rgba(255, 255, 255, 0),
                    10px -120px rgba(255, 255, 255, 0),
                    15px -45px rgba(255, 255, 255, 0);
            }
        }
    }

    .loader-wrapper-6 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            position: relative;
            width: 108px;
            display: flex;
            justify-content: space-between;
        }
        .loader::after,
        .loader::before {
            content: "";
            display: inline-block;
            width: 48px;
            height: 48px;
            background-color: #fff;
            background-image: radial-gradient(
                circle 14px,
                #0d161b 100%,
                transparent 0
            );
            background-repeat: no-repeat;
            border-radius: 50%;
            animation: eyeMove 10s infinite, blink 10s infinite;
        }
        @keyframes eyeMove {
            0%,
            10% {
                background-position: 0px 0px;
            }
            13%,
            40% {
                background-position: -15px 0px;
            }
            43%,
            70% {
                background-position: 15px 0px;
            }
            73%,
            90% {
                background-position: 0px 15px;
            }
            93%,
            100% {
                background-position: 0px 0px;
            }
        }
        @keyframes blink {
            0%,
            10%,
            12%,
            20%,
            22%,
            40%,
            42%,
            60%,
            62%,
            70%,
            72%,
            90%,
            92%,
            98%,
            100% {
                height: 48px;
            }
            11%,
            21%,
            41%,
            61%,
            71%,
            91%,
            99% {
                height: 18px;
            }
        }
    }

    .loader-wrapper-7 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            position: relative;
            width: 120px;
            height: 90px;
            margin: 0 auto;
        }
        .loader:before {
            content: "";
            position: absolute;
            bottom: 30px;
            left: 50px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: #ff3d00;
            animation: loading-bounce 0.5s ease-in-out infinite alternate;
        }
        .loader:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 7px;
            width: 45px;
            border-radius: 4px;
            box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
            animation: loading-step 1s ease-in-out infinite;
        }

        @keyframes loading-bounce {
            0% {
                transform: scale(1, 0.7);
            }
            40% {
                transform: scale(0.8, 1.2);
            }
            60% {
                transform: scale(1, 1);
            }
            100% {
                bottom: 140px;
            }
        }
        @keyframes loading-step {
            0% {
                box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #fff,
                    -35px 50px 0 #fff, -70px 90px 0 #fff;
            }
            100% {
                box-shadow: 0 10px 0 #fff, -35px 50px 0 #fff, -70px 90px 0 #fff,
                    -70px 90px 0 rgba(0, 0, 0, 0);
            }
        }
    }

    .loader-wrapper-8 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            position: relative;
            height: 40px;
            width: 6px;
            color: #fff;
            animation: paddles 0.75s ease-out infinite;
        }
        .loader:before {
            content: "";
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 15px;
            width: 12px;
            height: 12px;
            background-color: #de3500;
            border-radius: 50%;
            animation: ballbounce 0.6s ease-out infinite;
        }

        @keyframes paddles {
            0% {
                box-shadow: -25px -10px, 25px 10px;
            }
            50% {
                box-shadow: -25px 8px, 25px -10px;
            }
            100% {
                box-shadow: -25px -10px, 25px 10px;
            }
        }
        @keyframes ballbounce {
            0% {
                transform: translateX(-20px) scale(1, 1.2);
            }
            25% {
                transform: scale(1.2, 1);
            }
            50% {
                transform: translateX(15px) scale(1, 1.2);
            }
            75% {
                transform: scale(1.2, 1);
            }
            100% {
                transform: translateX(-20px);
            }
        }
    }

    .loader-wrapper-9 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            position: relative;
            width: 75px;
            height: 100px;
            background-repeat: no-repeat;
            background-image: linear-gradient(#ddd 50px, transparent 0),
                linear-gradient(#ddd 50px, transparent 0),
                linear-gradient(#ddd 50px, transparent 0),
                linear-gradient(#ddd 50px, transparent 0),
                linear-gradient(#ddd 50px, transparent 0);
            background-size: 8px 100%;
            background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px,
                60px 50px;
            animation: pillerPushUp 4s linear infinite;
        }
        .loader:after {
            content: "";
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 10px;
            height: 10px;
            background: #de3500;
            border-radius: 50%;
            animation: ballStepUp 4s linear infinite;
        }

        @keyframes pillerPushUp {
            0%,
            40%,
            100% {
                background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px,
                    60px 50px;
            }
            50%,
            90% {
                background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px,
                    60px 90px;
            }
        }

        @keyframes ballStepUp {
            0% {
                transform: translate(0, 0);
            }
            5% {
                transform: translate(8px, -14px);
            }
            10% {
                transform: translate(15px, -10px);
            }
            17% {
                transform: translate(23px, -24px);
            }
            20% {
                transform: translate(30px, -20px);
            }
            27% {
                transform: translate(38px, -34px);
            }
            30% {
                transform: translate(45px, -30px);
            }
            37% {
                transform: translate(53px, -44px);
            }
            40% {
                transform: translate(60px, -40px);
            }
            50% {
                transform: translate(60px, 0);
            }
            57% {
                transform: translate(53px, -14px);
            }
            60% {
                transform: translate(45px, -10px);
            }
            67% {
                transform: translate(37px, -24px);
            }
            70% {
                transform: translate(30px, -20px);
            }
            77% {
                transform: translate(22px, -34px);
            }
            80% {
                transform: translate(15px, -30px);
            }
            87% {
                transform: translate(7px, -44px);
            }
            90% {
                transform: translate(0, -40px);
            }
            100% {
                transform: translate(0, 0);
            }
        }
    }

    .loader-wrapper-10 {
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            width: 64px;
            height: 64px;
            position: relative;
            animation: rotate 1.5s ease-in infinite alternate;
        }
        .loader::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            color: #ff3d00;
            background: currentColor;
            width: 64px;
            height: 32px;
            border-radius: 0 0 50px 50px;
        }
        .loader::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 10%;
            background: #fff;
            width: 8px;
            height: 64px;
            animation: rotate 1.2s linear infinite alternate-reverse;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
