.manage-support-page {
    margin: 0 16px;
    .manage-support-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 10px;

        .filters-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;

            .filter-switch {
                width: 80px;
            }
        }
    }

    .requests-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        background-color: #ffffff;
        border-radius: 6px;
        direction: rtl;
        .request-item {
            cursor: pointer;
        }

        .request-summary {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 10px;
            gap: 10px;
            border-bottom: 1px solid #e0e0e0;
            &.last-item {
                border-bottom: none;
            }
            &.active {
                background-color: #f0f0f0;
            }
            .request-status {
                margin-right: auto;
            }
        }

        .request-details {
            border-bottom: 1px solid #e0e0e0;
            &.last-item {
                border-top: 1px solid #e0e0e0;
            }

            .request-details-content {
                /* margin: 0; */
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .request-message {
                    border-bottom: 1px solid #e0e0e0;
                    border-radius: 6px;
                    background-color: #f0f0f0;
                    padding: 10px;
                }
            }

            .request-responses-container {
                padding: 0 10px 4px 10px;
                .request-responses-title {
                    font-size: 16px;
                    font-weight: 600;
                }

                .request-responses {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    .request-response {
                        border-bottom: 1px solid #e0e0e0;
                        border-radius: 6px;
                        background-color: #f0f0f0;
                        padding: 10px;
                    }
                }
            }

            .manage-support-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                gap: 4px;
            }
        }
    }
}
