.manage-users {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: calc(100vh - 56px);
    overflow-y: auto;
    color: #000;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    .user-btn {
        height: 48px;
        white-space: normal;
        text-align: center;
        padding: 0 16px;
        margin: 0 2px;
        cursor: pointer;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 400;
        &:hover {
            background-color: #e3d7d7;
        }
    }

    .manage-users-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 300px;
        margin-top: 100px;
    }

    .manage-users-actions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
