.modal {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    max-width: 500px;
    max-height: 90vh;
    background-color: #fff;
    direction: rtl;
    border: none;
    border-radius: 8px;
    overflow: hidden; /* Prevent modal from overflowing */
    max-height: 90vh;
}

.modal::backdrop {
    background: rgba(66, 31, 31, 0.5); /* Semi-transparent black backdrop */
}

.modal-content {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

.modal-content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

.modal-content::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 4px;
}
