.notifications-page {
    .notifications-page-title {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
        display: block;
    }
    .filter-section {
        margin-top: 16px;
        .select-filter {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    .support-email {
        direction: rtl;
        margin-top: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
