.open-request {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;

    .submit-button-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
}
