.push-notification-status-button {
    margin: 12px;
    margin-right: auto;

    .notification-status-button {
        &.granted {
            display: none;
        }

        &.denied {
            display: none;
        }

        &.pwa-only {
            display: none;
        }
    }

    .notification-switch-icon {
        .injected-svg {
            width: 16px;
            height: 16px;
        }

        &.active {
            .injected-svg {
                padding-top: 2px;
            }
        }
    }
}
