.reset-password-form {
    margin: 1rem;
    margin-top: 3rem;
    max-width: 400px;

    .title {
        font-family: Assistant;
        font-size: 30px;
        font-weight: 700;
        line-height: 39.24px;
        text-align: right;
        /* margin-bottom: 0.5rem; */
        color: #2c3e50;
    }
    .injected-svg {
        margin-top: 8px;
        color: black;
    }
}
