.signup-form {
    margin: 1rem auto;
    max-width: 24rem;

    .signup-form-content {
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .signup-input {
        width: 100%;
    }

    .signup-alert {
        width: 100%;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0 8px;
    }
}
