.support-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .support-page-description {
        width: 90%;
        max-width: 500px;
    }

    .text {
        font-size: 18px;
    }

    .support-email {
        direction: rtl;
        margin-top: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
