.time-clock-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .full-width {
        width: 100%;
    }
    .time-clock-value-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-between;

        button {
            display: block;
        }
    }
}
