.whatsapp-banner {
    &.ltr {
        direction: ltr;
    }
    &.rtl {
        direction: rtl;
    }
    .whatsapp-btn {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 22px 20px 0 0;
        cursor: pointer;
    }
    .whatsapp-icon {
        cursor: pointer;
        .injected-svg {
            width: 40px;
            height: 40px;
        }
    }
}
