.general-title {
    font-family: Assistant;
    font-family: Assistant;
    font-size: 26px;
    font-weight: 400;
    line-height: 34.01px;
    text-align: right;
    margin-bottom: 0.5rem;
    margin-top: 0;
    color: #dd5239;
}
