.price-card {
    margin-top: 1rem;
    border-width: 2px;
}

.price-form-item {
    margin-top: 1rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.add-button {
    width: 50%;
}

.add-button-content {
    display: inline-flex;
    align-items: center;
}

.add-icon {
    margin-right: 0.5rem;
}