.link-card {
  margin-top: 1rem;
  border-width: 2px;
}

.link-form-item {
  margin-top: 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.add-button {
  width: 100px;
  margin-left: auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding-top: 4px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
}

.add-button-content {
  display: inline-flex;
  align-items: center;
}

.add-icon {
  margin-right: 0.5rem;
}
