 .bio-page .button-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 0.5rem;
 }

 .bio-page {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 0.5rem;
 }