.events-display {
    height: calc(100vh - 56px);
    max-width: 500px;
    align-self: center;
    overflow-y: auto;
    color: #fff;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, and Opera */
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.25rem;
        margin: 1.25rem 22px 0 22px;

    }

    .title {
        font-size: 1.5rem;
        text-align: center;
        width: 70%;
        margin: 0;
    }

    .subtitle {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        text-align: center;
        width: 70%;
        margin: 0 0 2rem 0;
    }

    .menu-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-self: center;
        gap: 1rem;
    }


    .menu-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 3rem;
            background: none;



            &.active {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    pointer-events: none;
                    z-index: 0;
                    border-radius: 5px;

                }

                &.right {
                    border-radius: 0 5px 5px 0;
                }

                &.left {
                    border-radius: 5px 0 0 5px;
                }
            }

            &.right {
                border-radius: 0 5px 5px 0;
            }

            &.left {
                border-radius: 5px 0 0 5px;
            }

            &:hover {
                color: #220505;
                border: 1px solid #fff;
                background: none;
            }
        }
    }

    .selected-filters {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 5px;
        flex-wrap: wrap;
        margin-top: 1rem;

        .filter-tag {
            padding: 0.2rem 1rem;
            border-radius: 20px;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }

    .events-display-icon {
        width: 2rem;
        height: 2rem;
    }

    .scroll-to-top {
        position: fixed;
        top: 10px;
        left: 10px;
    }

    .scroll-to-top.show {
        opacity: 1;
    }
}