.filter-drawer {
    border-radius: 10px 10px 0 0;
    width: 100vw;

    .ant-drawer-header {
        border-bottom: none;
        border-radius: 10px 10px 0 0;

        .ant-drawer-header-title {
            display: flex;
            flex-direction: row-reverse !important;
            margin: 0;

            .filter-drawer-title {
                margin: 0;
            }
        }
    }
}