.single-day-event-base-form {
    .event-card {
        margin-top: 1rem;
        border-width: 4px;
    }

    .event-title {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .form-item {
        margin-top: 1rem;
    }

    .full-width {
        width: 100%;
    }

    .list-item {
        margin-right: 1rem;
    }
}