.sub-events-form {
  .sub-event-card {
    margin-top: 1rem;
    border-width: 2px;
  }

  .full-width {
    width: 100%;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .add-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
  }
}
