.teacher-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  min-width: 300px;
  max-width: 500px;

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bio-card-hr {
    width: 100%;
    height: 1px;
    background-color: #dd5239;
    margin-bottom: 16px;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .teacher-form-img {
    border-radius: 5px;
  }

  .bio-card-subtitle {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .teacher-form-submit {
    background-color: #dd5239;
    color: white;
    width: 100%;
  }
}
