@import "./styles/header.css";
@import "./styles/login.css";
@import "./styles/signup.css";
@import "./styles/reset-password.css";
@import "./styles/teacher-page.css";
@import "./styles/events-list.css";
@import "./styles/events-display.css";
@import "./styles/filter-modal.css";
@import "./styles/manage-events-table.css";
@import "./styles/multi-day-event-card.css";
@import "./styles/multi-day-modal-card.css";
@import "./styles/single-day-event-card.css";
@import "./styles/single-day-modal-card.css";
@import "./styles/bio-page.css";
@import "./styles/bio-card.css";
@import './styles/add-links-form.css';
@import './styles/add-prices-form.css';
@import './styles/edit-multi-day-event-form.css';
@import './styles/edit-single-day-event-form.css';

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

/* body {
    font-family: 'Rubik', sans-serif;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;